
/*
Author:Sadiq Garba;




*/

*{
  font-family: 'Satisfy',  cursive;
}

body {

 
 font-family: 'Satisfy',  cursive;
}

.row{
 padding-top:50px;


}
#eye{
color:black;

}
.rem{
color:black;

}
.carousel-control-prev-icon, .carousel-control-next-icon{
height:100px;
width:100px;
outline:black;
background-size: 100%, 100%;
border-radius: 50%;
background-image: none;

}
.carousel-control-prev-icon:after{
content:'<';
font-size: 55px;
color:blue;


}
.carousel-control-next-icon:after{
  content:'>';
  font-size: 55px;
  color:blue;
  
  
  }

.overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
/*.table-cell .container demo{
color:white;
font-size: 70px;
}*/
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color:#fff;
  font-family: 'Satisfy', cursive;
}
.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
 
}

.container p a i{

font-size: 25px;

}

 .btn-primary:hover{

  background-color: green !important;
  border:1px solid green;
}


.footer{ 
     font-family: 'Satisfy',  cursive;
       position: fixed;     
       text-align: center;    
       top: 0px; 
       width: 100%;
       padding:10px;
}  

.socials {
      /* position: fixed; */    
       text-align: center;    
      /* top: 0px; */
       width: 100%;
       padding-bottom:30px;

}  


.socials a span i {
  font-size:21px; 
  margin:6px;
}


.credits ul li {
  display: inline-block;
}
.credits ul li a span i {
  text-align: center;
  margin:5px;
  color:white;
}

